@{
  Layout = "_Layout";
}

<div class="well text-center">

  <h4>Your Sentence:</h4>
  <p>@Model.GetText()</p><br>

  <h4>You wanted to find all:</h4>
  <p>@Model.GetFind()</p><br>

  <h4>Your string contained the find text</h4>
  <p>@Model.CountWordInstances() times.</p>

  <p><a href="/">TAKE ME BACK</a></p>

</div>
